<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="author" content="Luka Cvrk (www.solucija.com)" />
	<link rel="stylesheet" href="css/notice.css" type="text/css" />
	<title>Color Image Processing Ver 3.0</title>
</head>
<body>
	<form name="index" action="index" method="post"></form>
	<form name="logout" action="logout" method="post"></form>
	<form name="notice" action="notice" method="post"></form>
	<div id="content">
		<h1>Color Image Processing Ver 3.0</h1>
		
		<ul id="menu">
			<li><a href="#" onclick="javascript:document.index.submit();">Home</a></li>
			<li><a href="#" onclick="javascript:document.logout.submit();">Logout</a></li>
			<li><a href="#" onclick="javascript:document.notice.submit();">Notice</a></li>
		</ul>
	
		<div class="post">
			<div class="details">
				<h2>공지사항</h2>
			</div>
			<div class="body">
			</div>
			<div class="x"></div>
		</div>
		
		<div class="col">
			<form name="borad" action="/notice_add_process" method="post">
				<table class="board">
					<tr>
					<td>Title</td>
					<td><%= docs[0].title %></td>
					</tr>
					<tr>
					<td>Content</td>
					<td><%= docs[0].content %></td>
					</tr>
				</table>
				<% if (_id == "62a5df11df8175495ee97cbd") { %>
				<center>
					<input type="submit" value="수정">
				</center>
				<% } %>
			</form>
		</div>
		
		<div id="footer">
			<p>Copyright &copy; <em>Color Image Processing Ver 3.0</em> &middot; Design: SSH, <a href="https://rimzi-313.tistory.com/" title="Blog">Blog</a></p>
		</div>	
	</div>
</body>
</html>