<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=EUC-KR">
	<link rel="stylesheet" href="css/login.css" type="text/css" />
	<title>Image Processing Sign Up</title>
</head>
<body>
	<div id="content">
		<h1> Sign Up </h1>
		<h2>Color Image Processing Ver 3.0</h2>
		<form method="post" action="/signup_process">
			<p><h3> ID <input type="text" placeholder="아이디를 입력하세요" name="id"></h3></p>
			<p><h3> PW <input type="password" placeholder="비밀번호를 입력하세요" name="pw"></h3></p>
			<p><h3> NAME <input type="text" placeholder="이름을 입력하세요" name="name"></h3></p>
			<p><input type="submit" value="Sign up">
		</form>
		<div id="footer">
					<p>Copyright &copy; <em>Color Image Processing Ver 3.0</em> &middot; Design: SSH, <a href="https://rimzi-313.tistory.com/" title="Blog">Blog</a></p>
		</div>
	</div>

</body>
</html>